.main-container{
    width: 22%;
    background-color: rgba(1, 2, 11, 0.93);
    padding: 12px;
    border-radius: 10px;
    margin-top: 20px;
}
.container-head{
    display: flex;
    justify-content:space-between ;
    color: white;
    align-items: center;
    padding-top: 20px;
    font-weight: 400;
}
.nav-bar-container{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgb(122, 234, 244);
}