.review-card-main-container {
    display: flex;
    align-items: start;
    border-radius: 8px;
}

.profile-head-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.profile-image-container {
    width: 50px;
    height: 40px;
    background-image: url('../public/images/user1.jpeg');
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
    background-size: contain;
    background-position: center;
}

.profile-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: white;
}

.profile-info p {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}

.review-time {
    color: gray;
    font-size: 13px;
    margin-top: 5px;
}

.review-desc {
    color: white;
    font-size: 14px;
    font-weight: 200;
    margin-top: 5px;
    line-height: 1.5;
}

.review-button {
    padding: 5px 5px 3px 4px;
    background-color: #b6d7fb;
    color: black;
    font-weight: 600;
    font-size: 13px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    align-self: flex-start; 
    margin-left: 10px;
}

.action-buttons {
    display: flex;
    gap: 10px;    
    margin-top: 15px;
    justify-content: space-between;

}

.action-button {
    display: flex;
    align-items: center;
    color: gray;
    justify-content: space-between;
    gap: 2px;

}

.action-button span {
    margin-left: 5px;
    font-size: 14px;
}

.buy-button {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 4px 8px;
    margin-right: 15px;
    font-weight: bold;
}


.review-button-container{
    margin-left: 18%;
    padding-bottom: 30px;
}
.button-container{
    display: flex;
    gap: 12px;
    margin-right: 10px;
    
}