.scroll-bar-container{
    color: rgb(239, 236, 236);
    padding-top: 20px;   
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.sub-container{
    font-size: 10px;
    font-weight: 300;
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: rgb(97, 97, 97);
    border-radius: 15px;
    opacity: 0.5;
    padding: 8px;
    margin-right: 10px;
    
}
.scroll-bar-content{
    display: flex;
}
.navbar-search-icon{
    padding-top: 5px;
}